---
layout: default
title: Artists - EX NIHILO
---
<section class="grid-scroll">
  <h2>ARTISTS</h2>
  <div class="grid">
    {% for member in site.data.artists %}
    {% assign num_works = site.data.artworks | where:'artist',member.name | size %}
    {% assign work = site.data.artworks | find:'artist',member.name %}
    <a href="/a/{{ member.name | downcase | replace: ' ', '_' }}" class="grid-item">
      {% include artwork_thumbnail.html work=work class='grid-item-image' %}
<!--      <img class="grid-item-image" src="/img/{{ member.image }}"/>-->
      <span class="grid-item-header">{{ member.name }}</span>
      <span class="grid-item-subheader">{{ member.nationality }}, {{ member.birth_year }}</span>
      <span class="grid-item-subheader">{{ num_works }} works in collection</span>
    </a>
    {% endfor %}
  </div>
</section>
