---
layout: default
title: Collection - EX NIHILO
---
<section class="grid-scroll">
  <h2>ARTWORKS</h2>
  <div class="grid">
    {% for work in site.data.artworks %}
    <a href="/w/{{ work.title | downcase | replace: ' ', '_' }}" class="grid-item">
      {% include artwork_thumbnail.html work=work class='grid-item-image' %}
      <span class="grid-item-header">{{ work.title }}</span>
      <span class="grid-item-subheader">{{ work.artist }}</span>
      <span class="grid-item-subheader">{{ work.medium }}</span>
    </a>
    {% endfor %}
  </div>
</section>
