---
layout: default
title: Team - EX NIHILO
---
<div class="team-holder">
  {% include team_member.html
    name="Giorgia Laird"
    summary="Giorgia Laird is a member of the team and has been working on the project and has been working on the project and has been working on the project."
    img="giorgia.png" %}
  {% include team_member.html
    name="Daniel Collier"
    summary="Daniel Collier is a member of the team and has been working on the project and has been working on the project and has been working on the project."
    img="daniel.png" %}
  {% include team_member.html
    name="Esme Dowle"
    summary="Esme Dowle is a member of the team and has been working on the project and has been working on the project and has been working on the project."
    img="esme.png" %}
</div>
