---
layout: default
title: Team - EX NIHILO
---
<div class="team-holder">
  {% include team_member.html
  name="GIORGIA LAIRD"
  summary="Giorgia is the founder and curator of the virtual exhibition EX NIHILO. As a first year English Literature student studying at Durham University who has a passion for both visual and performing arts, her aim was to create a platform for young artists from all over the world to showcase their multidisciplinary work."
  img="giorgia.png" %}
  {% include team_member.html
  name="DANIEL COLLIER & ESME DOWLE"
  summary="Daniel and Esme are architecture students going into their second year at the Bartlett in London, and are currently working on designing the virtual gallery. Their goal is to embrace the lack of rules and restrictions that the internet gives them through designing virtually."
  img="daniel.png" %}
  {% include team_member.html
  name="A note from the curator:"
  summary="“As the country came to a standstill, a few weeks into lockdown I started to become slightly more accustomed to the strangeness and uncertainty of the pandemic. We suddenly had so much precious time and space, and as a result I began to spend more energy in creative pursuits. I was soon aware that I was not the only one spending time trying to get inspiration: many of my friends were posting beautiful paintings, drawings, designs, songs, poems and more on their feeds.<br><br>

  Yet this burst in creativity was accompanied by a simultaneous set of problems created by the very same isolation – the difficulty to sustain momentum, to remain motivated, and the lack of physical opportunities to come together, display work, share and feed off each others’ energy and talent.<br><br>

  In response, I am creating and curating a virtual exhibition called EX NIHILO – the title is Latin for ‘from nothing’ – which aims to subvert this. It seeks to provide an online space to promote young artists from all over the world and showcase their [multidisciplinary] work. By providing young artists with inspiration, something to work for and a platform, it will hopefully help them to find light and meaning in these dark, uncertain times.”" %}
</div>
