<nav id="header-nav" class="{% if page.nav-fixed %}fixed{% endif %} {% if page.nav-gone %}gone{% endif %}">
  <div class="logo-holder">
    <img src="img/logo.png" class="logo-img"/>
    <span class="logo-text">EX NIHILO</span>
  </div>
  <a href="/" class="space-above">HOME</a>
  <section class="dropdown">
    <span>EXHIBITIONS</span>
    <a class="" href="in_oblivione">IN OBLIVIONE</a>
  </section>
  <section class="dropdown">
    <span>ABOUT</span>
    <a href="about" class="">BEYOND THE SCREEN</a>
    <a href="gallery" class="">THE GALLERY</a>
  </section>
  <a href="collection">COLLECTION</a>
  <a href="artists">ARTISTS</a>
  <a class="">Contact Us</a>
  <div class="space-above">Copyright &#169; All rights reserved.</div>
  <div class="social-links space-above">
    <a href="{{ site.facebook_link }}" class="fa fa-facebook fa-2x"></a>
    <a href="{{ site.instagram_link }}" class="fa fa-instagram fa-2x"> </a>
  </div>
</nav>
<script>
  let dropdowns = document.getElementsByClassName("dropdown");
  for (let dropdown of dropdowns) {
    dropdown.addEventListener("click", () => {
      dropdown.classList.toggle("dropped");
    })
  }
</script>
