<div class="submission-info">
  <h4>SUBMISSION GUIDELINES:</h4>
  LIMITED TO <strong>3 PIECES OF WORK PER ARTIST</strong>.<br>
  <strong>ALL ART WELCOME</strong><br>
  (whether is is visual art, writing, music, film or other)
  <hr>
  <h4>DETAILS TO INCLUDE:</h4>
  <ul role="list">
    <li>NAME</li>
    <li>PRONOUN</li>
    <li>AGE</li>
    <li>ARTIST STATEMENT (a brief summary of who you are and your work)</li>
    <li>CONTACT INFORMATION - email and social media if applicable</li>
  </ul>
  <hr>
  <h3>SUBMISSION DEADLINE: 15 JULY</h3>
  <strong>SUBMIT TO: <a class="email" href="mailto:{{ site.submissions_email }}">{{ site.submissions_email }}</a></strong><br>
  <strong>CONTACT US: <a class="email" href="mailto:{{ site.contact_email }}">{{ site.contact_email }}</a></strong>
</div>
