<div class="submission-info">
  <h4>SUBMISSION GUIDELINES:</h4>
  <hr>
  LIMITED TO 3 PIECES OF WORK PER ARTIST.<br>
  ALL ART WELCOME<br>
  (whether is is visual art, writing, music, film or other)
  <hr>
  <h4>DETAILS TO INCLUDE:</h4>
  <ul role="list">
    <li>NAME</li>
    <li>PRONOUN</li>
    <li>AGE</li>
    <li>ARTIST STATEMENT (a brief summary of who you are and your work)</li>
    <li>CONTACT INFORMATION - email and social media if applicable</li>
  </ul>
  <hr>
  SUBMISSION DEADLINE: 15 JULY
  <hr>
  SUBMIT TO: <a class="email" href="mailto:{{ site.submissions_email }}">{{ site.submissions_email }}</a><br>
  CONTACT US: <a class="email" href="mailto:{{ site.contact_email }}">{{ site.contact_email }}</a>
</div>
