---
layout: default
---
{% assign artist_works = site.data.artworks | where:"artist",page.artist.name %}
<div class="scroll-box">
  <div class="artist-view">
    <div class="name">{{page.artist.name | upcase}}</div>
    <div class="details">{{page.artist.nationality}}, {{page.artist.birth_year}}</div>
    <div class="details">{{ artist_works | size }} works in collection</div>
    <div class="statement">{{ page.artist.statement }}</div>
    <div class="works-header">WORKS BY THIS ARTIST</div>
    <div class="grid">
    {% for work in artist_works %}
    <!--    <a class="list-artwork" href="/w/{{ work.title | downcase | replace: ' ', '_' }}">-->
    <a class="grid-item" href="/w/{{ work.title | downcase | replace: ' ', '_' }}">
      {% include artwork_thumbnail.html work=work %}
      <span class="grid-item-header">{{work.title}}</span>
      <span class="grid-item-subheader">{{work.medium}}</span>
    </a>
    {% endfor %}
    </div>
  </div>

</div>
